<%- include('./component/header.ejs') %>
    <div class=" bg-black ">
        <img src="/images/coffee.jpg" alt="" style="height: 300px; width: 100% " class="object-none " />
    </div>

    <div class="xl:px-56 lg:px-32 px-12 py-10 ">
        <h1 class='text-center text-3xl font-russoOne'>Who Am I?</h1>
        <div class="font-miriamLibre mt-9 ">
            <img src="/images/about/profile.jpg" class='w-48 h-48 rounded-full float-right ' alt="" />
            <p class='leading-loose '>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                essecillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia
                deserunt mollit anim id est laborum.
            </p>

        </div>
        <div class="font-miriamLibre mt-7 ">
            <img src="/images/about/familyinbeach.jpg" class='w-48 h-48 rounded-full float-left mr-2' alt="" />
            <p class='leading-loose'>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                essecillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="font-miriamLibre mt-7 ">
            <img src="/images/about/familyandsun.jpg" class='w-48 h-48 rounded-full float-left mr-2' alt="" />
            <p class='leading-loose'>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                essecillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="font-miriamLibre mt-7 ">
            <img src="/images/about/miner.jpg" class='w-48 h-48 rounded-full float-right mr-2' alt="" />
            <p class='leading-loose'>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                essecillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>

    <%- include('./component/footer.ejs') %>
        <script src="/javascripts/mains.js" defer type="module"></script>
        <script src="/javascripts/global.js"></script>
        </body>

        </html>