<div class='footer  static  m-0 left-0 right-0 '>
    <div
        class="xl:px-56 lg:px-32 px-12 sm:py-24 py-12 text-bodyColor sm:h-32 min-h-min bg-navbar sm:flex justify-between items-center grid gap-y-6">
        <div class="w-1/4  ">
            <h1>
                Persona Blog
            </h1>
        </div>
        <div class='flex sm:justify-between justify-start items-start w-screen  '>
            <div class="w-full  font-robohref flex flex-col justify-between gap-y-1.5 sm:text-right  ">
                <a href="/">About</a>
                <a href="/blog">Blog</a>
                <a href="/contact">Contact Me</a>
                <a href="/categories">Categories</a>
            </div>
            <div class="w-full  font-robohref flex flex-col justify-between gap-y-1.5 sm:text-right">
                <a href="/">Instagram</a>
                <a href="/blog">Facebook</a>
                <a href="/contact">Youtube</a>
            </div>
        </div>

    </div>
    <div class="sm:h-16 xl:px-56 md:px-32 px-12 py-2 h-18 bg-secondaryColor sm:flex justify-between items-center  ">
        <div class='flex gap-x-3.5 place-content-center'>
            <a href="/">Privacy Policy</a>
            <a href="/blog">Cookie Policy</a>
            <a href="/contact">Contact Us</a>
        </div>
        <div class='flex gap-x-3.5 place-content-center'>
            <h5>
                Powered By Okeythen.my.id
            </h5>
        </div>
    </div>
</div>
</div>